NODE_ENV=development
PORT=3000

# Ajuste user/senha/host conforme seu docker-compose ou banco local
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tmdb_challenge?schema=public
REDIS_URL=redis://localhost:6379

# Crie uma conta em https://www.themoviedb.org, vá em Configurações > API e copie o "API Read Access Token" (v4 auth)
TMDB_ACCESS_TOKEN=coloque_seu_access_token_aqueyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1MjFhYTBlOTAzZDU2NjAyNjEyNjM5NzI1MjU0MjljZiIsIm5iZiI6MTc4MzI5NDIyNC41MjYsInN1YiI6IjZhNGFlOTEwNGRhNmZjNDg1OWNmMGRiZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.2tiffbi_rRgetlG8UAcsqTCOUzONgd5H1t0HKdd7R5ci
TMDB_BASE_URL=https://api.themoviedb.org/3

CACHE_TTL_SECONDS=300
TMDB_TIMEOUT_MS=5000
TMDB_RETRY_ATTEMPTS=3
TMDB_RETRY_BASE_DELAY_MS=200

CIRCUIT_BREAKER_FAILURE_THRESHOLD=5
CIRCUIT_BREAKER_RESET_TIMEOUT_MS=30000